{% set page = 'user' %}

{% extends 'shared/base.html.twig' %}

{% block title %}RTA Speedbuilders - Sign up{% endblock %}

{% block payload %}
<section>
  <div class="row">
    <div class="col col-12 mb-3">
      <h2 class="page-h2 text-center">Welcome to the speedbuilding community!</h2>
    </div>
    <div class="col col-md-6 offset-md-3">
      <p>Your account was succesfully created.</p>
      <p>Please check your mailbox and click the validation link to activate your account.</p>
      <p>Looking forward to see your best speedbuilding times on the list,</p>
      <p>Cheers</p>
      <p><strong>The RTA Speedbuilding Community</strong></p>
    </div>
  </div>
</section>
{% endblock %}
