{% set page = 'user' %}

{% extends 'shared/base.html.twig' %}

{% block title %}RTA Speedbuilders - Sign up{% endblock %}

{% block payload %}
<section>
  <div class="row">
    <div class="col text-center">
      <h2 class="page-h2">Validation link is out of date!</h2>
      <div>
        <a href="{/todo-validation-link" class="btn btn-info btn-rtaswc">Send new validation link</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
