{% set page = 'home' %}

{% extends 'movie/shared/base.html.twig' %}

{% block title %}RTA Speedbuilders - The unofficial website for tracking your records!{% endblock %}

{% block payload %}
<section class="container mb-5" id="presentation">
  <div class="row">
    <div class="col col-12">
      <div class="rtaswc-block">
        <h1 class="page-h1">Fast Billy vs. Method Girl</h1>
      </div>
    </div>
  </div>
</section>

{% endblock %}
