{% set page = 'assembly' %}

{% extends 'shared/base.html.twig' %}

{% block title %}RTA Speedbuilders - Submit a new Speedbuilding record{% endblock %}

{% block payload %}
{% set config = {display_poster: true} %}

<section>
  <div class="row">
    <div class="col">
      <h2 class="page-h2">Submit a new Speedbuilding record</h2>
    </div>
  </div>

  <form method="post">
    <fieldset class="form-row">
      <div class="form-group mb-3">
      <legend>Select a brand: </legend>
      {{ form_widget(form.brand, {'attr': {'class': 'form-control'}}) }}
      {{ form_errors(form.brand) }}
      </div>
      <div class="form-group">
          <button type="submit" class="btn btn-info btn-rtaswc">→ next</button>
      </div>
    </fieldset>
  {{ form_end(form) }}
</section>

{% endblock %}
