{% set page = 'assembly' %}

{% extends 'shared/base.html.twig' %}

{% block title %}{{ 'furniture.brand.add'|trans }}{% endblock %}

{% block payload %}
{% set config = {display_poster: true} %}

<section class="container">
  <form method="post">
    <fieldset class="form-row">
      <div class="form-group">
      <legend>Select a Model: </legend>
      {{ form_widget(form.model, {'attr': {'class': 'form-control'}}) }}
      {{ form_errors(form.model) }}
      </div>
      <div class="form-group">
          <input type="submit" value="submit" class="btn btn-success">
      </div>
    </fieldset>
  {{ form_end(form) }}
</section>

{% endblock %}
