<nav class="navbar navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a href="{{ path('movie_home') }}" class="navbar-link">Fast Billy vs. Method Girl</a>
    <div class="d-flex">
      <a href="/" class="nav-link">Insta</a>
    </div>
  </div>
</nav>
