{% set navbar = {page: 'assembly', tab: null} %}

{% extends 'shared/base.html.twig' %}

{% block title %}RTA Speedbuilders - Submit a New Speedbuilding Record }}{% endblock %}

{% block payload %}
{% set config = {display_poster: true} %}

<section class="container" id="faq">
  <div class="row">
    <div class="col">
      <h2 class="page-h2">Frequently asked questions</h2>
    </div>
  </div>

  <details class="faq-question">
    <summary>Do I need an account to post records?</summary>
    <article class="faq-answer details-main">
        <p><strong>No! You can either post a record being authentified or anonymously.</strong></p>
        <ul>
        <li>Being logged in allows you to track your records and to manage categories, brand and model.</li>
        <li>Posting anonymously is also possible and easy. Nonetheless it requires to provide an email address allowing for email validation and possible reconnection to a user account created later with same email address.</li>
        </ul>
    </article>
  </details>
</section>

{% endblock %}
