{% set navbar = {page: 'assembly', tab: null} %}

{% extends 'shared/base.html.twig' %}

{% block title %}RTA Speedbuilders - Submit a New Speedbuilding Record }}{% endblock %}

{% block payload %}
{% set config = {display_poster: true} %}

<section class="container" id="faq">
  <div class="row">
    <div class="col">
      <h2 class="page-h2">Frequently asked questions</h2>
    </div>
  </div>

  <div class="row">
    <article class="col faq-answer">
      <header>
        <h3>Do I need an account to post records?</h3>
      </header>
      <div class="body">
        <p>Yes! Being logged in allow for the posted record to be linked to the speedbuilder who achieved it!</p>
      </div>
    </article>
  </div>
</section>

{% endblock %}
