{% set page = 'brand' %}

{% extends 'shared/base.html.twig' %}

{% block title %}{{ 'furniture.brand.add'|trans }}{% endblock %}

{% block payload %}
{% set config = {display_poster: true} %}

<container class="container">
    <div class="row">

    </div>
    {{ form(form) }}
</container>

{% endblock %}
