@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,600&display=swap');

:root {
  --gradient-orange: #ee7752;
  --gradient-raspberry: #e73c7e;
  --gradient-blue: #23a6d5;
  --gradient-green: #23d5ab;

  --fast-billy-color-main: orange;
  --method-girl-color-main: #37f1ff;
}

.w100 {
  width: 100%;
}

.flex-start {
  align-items: flex-start;
}

.flex-end {
  align-items: flex-end;
}

.mt-10 {
  margin-top: 10em;

  @media only screen and (max-width: 767px) {
    margin-top: 2em;
  }
}

.mt-20 {
  margin-top: 20em;

  @media only screen and (max-width: 767px) {
    margin-top: 2em;
  }
}


.skew {
  @media only screen and (min-width: 576px) {
    transform: skew(-5deg);
  }
}

.fast-billy {
  color: var(--fast-billy-color-main);
}

.method-girl {
  color: var(--method-girl-color-main);
}

.spectrum {
  background: linear-gradient(0.25turn,  #ffa500, #fff900, #00ffff);
  color: transparent;
  background-clip: text;
}

.btn.rtaswc-btn-fast {
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  transform: skew(-12deg, 0);
  padding-left: 2.8em !important;
  background: linear-gradient(to right,
    white, white .1em,
    transparent .1em, transparent .5em,
    white .5em, white .7em,
    transparent .7em, transparent 1em,
    white 1em, white 1.3em,
    transparent 1.3em, transparent 1.5em,
    white 1.5em, white 1.9em,
    transparent 1.9em, transparent 2em,
    white 2em);
  color: black;

  &:hover {
    color: var(--method-girl-color-main);
  }
}

section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  & h3 {
    text-transform: uppercase;
  }

  & h4 {
    margin-top: 1em;
  }

  /* .col is handling background for larger widths */
  & .row {
    @media only screen and (max-width: 767px) {
      background-color: rgba(0, 0, 0, .5);
      backdrop-filter: blur(10px);
    }
  }

  & .container {
    padding-top: 0;
    padding-bottom: 0;

    @media only screen and (min-width: 576px) {
      padding-top: 3rem !important;
      padding-bottom: 3rem !important;
    }
  }

  & .col {
    background-color: transparent;
    color: white;
    padding: 2em;
    font-size: larger;

    /* .row is handling background for narrow width */
    @media only screen and (min-width: 768px) {
      background-color: rgba(0, 0, 0, .7);
      backdrop-filter: blur(10px);
    }
  }

  & blockquote {
    font-size: 200%;
    font-family: "Kanit", serif;
    font-weight: 600;
    font-style: italic;
    display: inline;
  }
}

/* make cols visually a single element on mobile device*/
/*@media only screen and (max-width: 767px) {
  section div.col:not(:first-child) {
    margin-top: 0;
  }
}*/

#flash-messages {
  padding: 0.5em;
  background-color: transparent;

  & div.alert {
    margin: 0;
    display: inline-block;
    border-radius: 0;

    @media only screen and (min-width: 576px) {
      transform: skew(-6deg);
    }
  }
}


#splash-screen {
  background: rgba(0,0,0,0.5);
  position: relative;
  overflow: hidden;


  @media only screen and (max-width: 575px) {
    background: black;
    z-index: -1000;
    padding-bottom: 2em;
  }

  @media only screen and (min-width: 576px) {
    min-height: 50vh;
  }

  & .container {
    min-height: 100%;
  }

  & abbr {
    text-decoration: none;
  }

  & h2 {
    margin-top: 1em;
    text-transform: uppercase;
    font-style: italic;

    @media only screen and (max-width: 575px){ font-size: smaller; }
  }

  & #logo-space {
    /*@media only screen and (max-width: 575px) {
      min-height: initial;
    }*/

    @media only screen and (min-width: 576px) {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & div.col {
      @media only screen and (max-width: 576px) {
        padding: 1em;
        background-color: black;

        & svg {
          width: 70%;
        }
      }

      @media only screen and (max-width: 767px) {
        background-color: rgba(0, 0, 0, .7);
        backdrop-filter: blur(10px);
      }
    }
  }

  & video {

    @media only screen and (max-width: 575px) {
      max-height: 100%;
    }

    @media only screen and (min-width: 576px) {
      position: absolute;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      transform: translateX(calc((100% - 100vw) / 2));
      z-index: -999;
    }
  }
}

.fullscreen-video-container {
  @media only screen and (max-width: 575px) {
    aspect-ratio: 16/9;
  }
}

.newsletter-section {
  background: linear-gradient(0, var(--gradient-orange), var(--gradient-raspberry), var(--gradient-blue), var(--gradient-green));
  background-attachment: fixed;

  & .container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  & .col, & .row {
      background-color: transparent;
      backdrop-filter: initial;
  }
}

#story {
  background-image: url("/media/smartassembler.jpg");
}

#tribute {
  background-image: url("/media/cordless-screwdriver.jpg");
}

#team {
  background-image: url("/media/screws.jpg");
}

#support {
  background-image: url("/media/reporter.jpg");
}

/* Form */
.newsletter-form {
  & #new_subscriber_name {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  & #new_subscriber_email {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

/* footer */
/* /!\ copied from default CSS -> could be modified on main page */
footer {
  background: #333333;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: solid 1px black;
  color: #aaaaaa;
}

#faq {
  & .faq-question {
    background-color: var(--translucency-prime);
    border-radius: var(--bs-border-radius);
    padding: 1em;

    & header {
      margin-bottom: .5em;
      border-bottom: solid white 1px;
    }

    & .body {
      margin-top: 1em;
    }
  }
}

#glossary-list {
  background-color: var(--translucency-prime);
  border-radius: var(--bs-border-radius);
  padding: 1em;

  & article {
    margin-bottom: .5em;
  }
}
