<footer>
<div class="container-fluid">
  <div class="col">
    <div class="row text-center">
      <a href="/">rta.speed.builders</a>
    </div>
  </div>

  <div class="col">
      <div class="col-md-4">
          <ul>
              <li><a href="{{ path('misc_faq') }}">FAQ</a></li>
          </ul>
      </div>
  </div>
</div>{# container-fluid #}
</footer>
