<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="{{ path('assembly_submit_select_brand') }}">New Assembly</a></li>
    <li><a href="{{ path('manage_category_select_brand') }}">New Category</a></li>
  </ul>
</nav>
