{% set page = 'assembly' %}

{% extends 'shared/base.html.twig' %}

{% block title %}RTA Speedbuilders - Manage Speedbuilding Categories }}{% endblock %}

{% block payload %}
{% set config = {display_poster: true} %}

<section class="container">
  <div class="row">
    <div class="col">
      <h2 class="page-h2">Create a New Speedbuilding Category</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="alert alert-warning">
        Cannot find the brand you're looking for ? <a href="{{ path('manage_brand_add') }}">Add a new brand to the list!</a>
      </div>
    </div>
  </div>

  <form method="post">
    <fieldset class="form-row">
      <div class="form-group mb-3">
      <legend>Select a brand: </legend>
      {{ form_widget(form.brand, {'attr': {'class': 'form-control'}}) }}
      {{ form_errors(form.brand) }}
      </div>
      <div class="form-group">
          <input type="submit" value="confirm" class="btn btn-success">
      </div>
    </fieldset>
  {{ form_end(form) }}
</section>

{% endblock %}
