@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root {
  --translucency-prime: rgba(255, 255, 255, .5);
  test: lol;
}

html, body {
  min-height: 100vh;
  width: 100vw;
  justify-content: center;
  background: linear-gradient(0, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  font-family: sans-serif;
}

main {
  margin-top: 5em;
  min-height: 80vh;
}

footer {
  background-color: var(--translucency-prime) !important;
  min-height: 20vh;
}

/* Generics */
.tabular-nums {
  font-variant-numeric: tabular-nums;
}

.form-helper {
  color: white;
}

.invalid-feedback {
  background-color: rgba(255,255,255,.8);
  border-radius: var(--bs-border-radius);
  border: solid white 1px;
  padding: .5em 1em;

  &:before {
    content: '❗️';
  }
}

span.svg-flag {
  display: inline-block;
  height: 1.5em;
  aspect-ratio: 4/3;
}

/* NAV */
nav.navbar.bg-light {
  background-color: var(--translucency-prime) !important;
}

nav .user-buttons {
  font-size: 2em;

  & a {
    color: black;
  }
}

/* PLAYERS */
iframe.youtube-container {
  aspect-ratio: 16/9;
}

.page-h2 {
  font-size: 200%;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

.page-h3 {
  font-size: 200%;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}

.form-group.record-time .form-control {
  color: red;
  display:inline;
  width: unset;
}

.btn.btn-rtaswc {
  border-radius: 2px;
  border-top-left-radius: 6px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 4px;
  transform: skew(-12deg, 0);
  margin-left: 0.2em;
  padding-left: 2.8em;
}

.btn.btn-info.btn-rtaswc {
  border: none;
  border-radius: 0;
  color: #0dcaf0;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(to right,
    white, white .1em,
    transparent .1em, transparent .5em,
    white .5em, white .7em,
    transparent .7em, transparent 1em,
    white 1em, white 1.3em,
    transparent 1.3em, transparent 1.5em,
    white 1.5em, white 1.9em,
    transparent 1.9em, transparent 2em,
    white 2em);

  &:hover {
    color: black;
  }
}

details.category-rules {
  background-color: var(--translucency-prime);
  padding: .5em;
  border-radius: var(--bs-border-radius);

  & summary {
    color: white;
    font-size: 1.3em;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
  }

  & div {
    padding-top: .5em;
    border-top: solid white .5px;
  }
}

#category-rules {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: solid gray thin;
  border-top: solid gray thin;
}

.table.table-rtaswc {
  border-collapse: separate;
  border-spacing: 0 5px;

  & tr {
  transform: skew(-12deg, 0);
  border-bottom: solid rgba(255,255,255,0.8) 0.5px;
  border-left: solid rgba(255,255,255,0.8) 5px;
  background-color: rgba(255,255,255,0.5);

    & td, & th {
      padding-top: 1em;
      padding-bottom: 1em;
    }

    & th {
      background-color: rgba(255,255,255,0.6);
    }

    & td {
      background-color: transparent;
    }

    & td:first-child {
      border-left: solid rgba(255,255,255,0.8) 5px;
    }

    & a {
      text-decoration: none;
    }

    & span.svg-flag {
      transform: skew(12deg, 0);
    }
  }
}

#record-card .col
{
    & h3 {
      color: var(--translucency-prime);
      text-transform: uppercase;
      font-weight: 700;
      font-style: italic;
      margin-bottom: -.26em;
      text-align: left;
      font-size: 1.5em;
    }

    & .info {
      padding:.3em;
      background-color: var(--translucency-prime);
      transform: skew(-12deg);
      font-size: 2em;
      font-family: "Russo One", sans-serif;
      color: rgba(0,0,0,0.7);

      & a {
        text-decoration: none;
        color: rgba(0,0,0,0.7);
        display: block;
      }

      & span.svg-flag {
        transform: skew(12deg);
        height: 1.2em;
      }
    }

    & .time-info {
      color: yellow;
    }
}

/* SETTINGS */

#setting-list {
  border-radius: var(--bs-border-radius);
  background-color: var(--translucency-prime);

  & a {
    padding: 0.5em;
    display: block;
    text-decoration: none;
    position: relative;

    &:first-child {
      border-top-left-radius: var(--bs-border-radius);
      border-top-right-radius: var(--bs-border-radius);
    }

    &:last-child {
      border-bottom-left-radius: var(--bs-border-radius);
      border-bottom-right-radius: var(--bs-border-radius);
    }
  }

  & a:hover {
    color: black;
    background-color: white;
  }

  & a:after {
    content: '>';
    text-align: right;
    position: absolute;
    top: .5em;
    right: .5em;
  }
}

.back-to-list {
  background-color: var(--translucency-prime);
  border-radius: var(--bs-border-radius);

  & a {
    display: block;
    border-radius: var(--bs-border-radius);
    text-decoration: none;
    padding: .5em;

    &:hover {
      background-color: white;
    }
  }
}

/* MISC */

#faq {
  & article {
    background-color: var(--translucency-prime);
    border-radius: var(--bs-border-radius);
    padding: 1em;

    & header {
      margin-bottom: .5em;
      border-bottom: solid white 1px;
    }

    & .body {
      margin-top: 1em;
    }
  }
}

