{% set page = 'user' %}

{% extends 'shared/base.html.twig' %}

{% block title %}RTA Speedbuilders - Sign up{% endblock %}

{% block payload %}
<section>
  <div class="row">
    <div class="col">
      <h2 class="page-h2">Please! Check your mailbox for the validation link!</h2>
    </div>
  </div>
</section>
{% endblock %}
