{% set page = 'user' %}

{% extends 'shared/base.html.twig' %}

{% block title %}RTA Speedbuilders - Sign up{% endblock %}

{% block payload %}
<section id="user-settings">
  <div class="row">
    <div class="col">
      <h2 class="page-h2">My Settings</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div id="setting-list">
        <a href="{{ path('user_display_name') }}"><i class="bi bi-person-circle"></i> Display Name</a>
        <a href="{{ path('user_country') }}"><i class="bi bi-flag-fill"></i> Country</a>
        <a href="{{ path('home') }}"><i class="bi bi-person-fill-check"></i> Username</a>
        <a href="{{ path('home') }}"><i class="bi bi-key-fill"></i> Password</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
